<head>
    <meta charset="utf-8">

    <link rel="icon" type="image/x-icon" href="assets/bee.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="home.component.scss">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <ul id="hexGrid">
      <li class="hex" >
        <div class="hexIn">
          <a class="hexLink" routerLink='/apiary' >
            <img src="../assets/apiary.png" alt="" style="width: 60%; height: 50%; margin-top: 30%;"/>
            <h1>Пчелињак</h1>
            <p>Преглед комплетног пчелињака</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" routerLink='/queenbees'>
            <img src="../assets/honey.png" alt="" style="width: 60%; height: 50%; margin-top: 30%;"/>
            <h1>Матице</h1>
            <p>Производња и праћење производње матица</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLinkX" href="#">
            <img src="../assets/bee.png" alt="" style="width: 60%; height: 50%; margin-top: 30%;"/>
            <h1>мБее</h1>
            <p>Почетна</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" routerLink='/equipment'>
            <img src="../assets/equipment.png" alt="" style="width: 60%; height: 50%; margin-top: 30%;" />
            <h1>Опрема</h1>
            <p>Преглед опреме</p>
          </a>
        </div>
      </li>
      <li class="hex">
      </li>
      <li class="hex">
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" routerLink='/stats'>
            <img src="../assets/presentation.png" alt="" style="width: 60%; height: 50%; margin-top: 30%;"/>
            <h1>Статистика</h1>
            <p>Приказ рада радника у пчелињаку</p>
          </a>
        </div>
      </li>
  
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" routerLink='/help'>
            <img src="../assets/info.png" alt="" style="width: 60%; height: 50%; margin-top: 30%;"/>
            <h1>Информације</h1>
            <p>Помоћ и информације о радовима у пчелињаку</p>
          </a>
        </div>
      </li>
    </ul>
    <div class="border"></div>
    <div class="razmak"></div>
  </body>